<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- The default localCacheScope is SESSION, but it's not clear if one
             session maps to the entire connection to the database, or just
             to a checked connection (and the cache is removed when the
             connection is returned to the pool). In a multi-tenant environment,
             the same query may return different results. Until that's cleared upm
             it's safer to change the scope to STATEMENT. -->
        <setting name="localCacheScope" value="STATEMENT"/>

        <setting name="useActualParamName" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <!-- Build the aliases from the classes in this package; useful
             when explicitly configuring type handlers. -->
        <package name="com.webkreator.mybatis_playground.handlers"/>
    </typeAliases>

    <typeHandlers>
        <!-- Use all type handlers in the package. -->
        <package name="com.webkreator.mybatis_playground.handlers"/>
    </typeHandlers>

    <environments default="main">
        <environment id="main">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="com.webkreator.mybatis_playground.BooksMapper"/>
        <mapper class="com.webkreator.mybatis_playground.ReviewsMapper"/>
    </mappers>

</configuration>